.lang {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.lang:hover {
  opacity: 0.7;
  cursor: pointer;
}

.lang:active {
  padding: 1px;
}

.map {
  height: 300px;
}

.shops {
  margin: 20px;
}

.active {
  border: 1px solid green;
  background-color: rgb(238, 244, 238);
}

.inactive {
  border: 1px solid red;
  background-color: rgb(240, 234, 234);
}