.products-wrapper {
  display: flex;
}

.category-buttons {
  margin-top: 75px;
  margin-left: 30px;
  width: 8%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 5px;
}

.category-buttons > div {
  margin-bottom: 10px;
  cursor: pointer;
}

.products-content {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.home-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  /* border-radius: 20px; */
}

.home-product img {
  max-width: 100%;
  height: 100px;
}

.product-name {
  font-weight: bold;
  margin-top: 10px;
}

.product-price {
  margin-top: 5px;
}

.filter-buttons {
  display: flex; /* vasakult paremale */
  justify-content: center; /* keskele */
  margin-bottom: 10px; /* ruumi 10px allapoole */
  margin-top: 30px;
}

.filter-buttons button {
  margin-right: 10px;
}

.product-count {
  margin-bottom: 10px;
  padding-top: 4px;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  width: 70px;
  height: 70px;
}