.pilt {
  width: 100px;
}

.pilt:hover {
  opacity: 0.7;
}

.nupp {
  cursor: pointer;
}

.nupp:hover {
  font-weight: bold;
}

/* position: relative;
position: absolute;
saan ümber tõsta */

.yellow {
  color: rgb(163, 163, 38);
}

.blue {
  color: rgb(34, 34, 156);
}

.aktiivne {
  border: 1px solid green;
  background-color: rgb(236, 243, 236);
  margin: 5px;
}

.mitteaktiivne {
  border: 1px solid red;
  background-color: rgb(246, 239, 239);
  margin: 5px;
}