.pilt {
  width: 100px;
}

.pilt:hover {
  opacity: 0.7;
}

.nupp {
  cursor: pointer;
}

.nupp:hover {
  font-weight: bold;
}

/* position: relative;
position: absolute;
saan ümber tõsta */

.yellow {
  color: rgb(163, 163, 38);
}

.blue {
  color: rgb(34, 34, 156);
}